

.letra{
    margin-bottom: 0rem;
    text-align: center;
}

.content{
    width: 90%;
    height: 80%;
    margin: 0 auto;
}

canvas{
    max-width: 70%;
}

.chart-container {
    display: flex;
    gap: 20px;
    justify-content: center; /* Centrar los gráficos horizontalmente */
}

.chart-container canvas {
    max-width: 50%; /* Cada gráfico ocupa la mitad del contenedor */
    height: auto; /* Ajustar la altura automáticamente */
    width: auto; /* Ajustar el ancho automáticamente */
    max-height: 300px; /* Altura máxima para evitar que los gráficos sean demasiado altos */
}


.celda-verde {
    background-color: green;
    color: white; /* Opcional, para que el texto sea más legible */
}

.celda-roja {
    background-color: red;
    color: white; /* Opcional, para que el texto sea más legible */
}