{% extends "index.html" %}
{% block content %}
<script>
    $(document).ready(function(){
        $("#link").click(function(){
            create();
        });

        $("#busqueda").change(function(){
            elegir_busqueda();
        });

        $("#busca").click(function(){
            buscar();
        });
    });

    function tabla(url){
        $.ajax({
            method: "GET",
            url: url,
            contentType: 'json',
            success: function(data){
                if(data.code == '200'){
                    var html = '';
                    $.each(data.data, function(i, info){
                        html += "<tr>";
                        html += "<td>" + info.id + "</td>";
                        html += "<td>" + info.dni + "</td>";
                        html += "<td>" + info.nombre + "</td>";
                        html += "<td>" + info.apellido + "</td>";
                        html += "<td>" + info.fechaNacimiento + "</td>";
                        html += "<td>" + info.numTelefono + "</td>";
                        html += "<td>" + info.idCuenta + "</td>";
                        html += "<td><a href='/docentes/editar/" + info.id + "' class='btn btn-primary btn-sm'>Modificar</a></td>";
                        html += "<td><a href='/login/rol/" + info.id + "' class='btn btn-success btn-sm'>Roles</a></td>";
                        html += "<td><a href='/docentes/eliminar/" + info.id + "' class='btn btn-danger btn-sm'>Eliminar</a></td>";
                        html += "</tr>";
                    });
                    $("#tabla tbody").html(html);
                }else{
                    html += "<tr><td colspan='9'>No se encontraron datos</td></tr>";
                    $("#tabla tbody").html(html);
                }
            }
        });
    }

    function create(){
        var aux = $("#tipo").prop("checked");
        var select = $("#criterio").find(":selected").val();
        if(aux){
            tabla("http://localhost:5000/home/personas/2/"+select+"/"+ 4);  //cambiar siempre
        }else{
            tabla("http://localhost:5000/home/personas/1/"+select+"/"+ 4); //cambiar siempre
        }
    }

    function buscar(){
        var atributo = $("#criterio").find(":selected").val();
        var valor = $("#valor").val();
        tabla("http://localhost:5000/home/personas/busqueda/"+valor+"/"+atributo); //cambiar
    }

    function elegir_busqueda(){
        var metodo = $("#busqueda").find(":selected").val();
        if(metodo == 1){
            $("#criterio").html('<option value="dni">DNI</option><option value="nombre">Nombre</option>');
        }else{
            $("#criterio").html('<option value="apellido">Apellido</option><option value="idCuenta">ID Cuenta</option>');
        }
    }
</script>
{%block barra%}
<!-- Page Navbar -->
<nav id="scrollspy" class="navbar page-navbar navbar-expand-md navbar-brand fixed-top" data-spy="affix" data-offset-top="20">
    <div class="container">
        <a class="navbar-brand" href="#"><strong class="text-primary">Seguimiento</strong> <span class="text-dark">Estudiantil</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {% if docente == "docente" %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="#" id="adminMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Docente
                    </a>
                    <div class="dropdown-menu" aria-labelledby="adminMenu">
                        <a class="nav-link text-dark" href="/home/docenteMaterias/{{idPersona}}/{{docente}}/{{admin}}">Materias</a>
                    </div>
                </li>
                {% endif %}
                {% if admin == "admin" %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="#" id="adminMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="adminMenu">
                        <a class="dropdown-item" href="/home/ciclos/{{idPersona}}/{{docente}}/{{admin}}">Ciclos</a>
                        <a class="dropdown-item" href="/home/mallas/{{idPersona}}/{{docente}}/{{admin}}">Mallas</a>
                        <a class="dropdown-item" href="/home/listamaterias/{{idPersona}}/{{docente}}/{{admin}}">Materias</a>
                        <a class="dropdown-item" href="/home/cursas/{{idPersona}}/{{docente}}/{{admin}}">Cursas</a>
                        <a class="dropdown-item" href="/home/asignaciones/{{idPersona}}/{{docente}}/{{admin}}">Asignaciones</a>
                        <a class="dropdown-item" href="/home/unidades/{{idPersona}}/{{docente}}/{{admin}}">Unidades</a>
                        <a class="dropdown-item" href="/home/rol/{{idPersona}}/{{docente}}/{{admin}}">Roles</a>
                        
                        <a class="dropdown-item" href="/home/docentes/{{idPersona}}/{{docente}}/{{admin}}">Docentes</a>
                        <a class="dropdown-item" href="/home/estudiantes/{{idPersona}}/{{docente}}/{{admin}}">Estudiantes</a>
                    </div>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/home/{{idPersona}}/{{docente}}/{{admin}}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/">Salir</a>
                </li>
            </ul>
        </div>
    </div>
</nav><!-- End of Page Navbar -->   
{%endblock%}
<br>
<br>

<div class="container my-4">
    <div class="text-center mb-4">
        <h1 class="display-5 text-dark">Personas</h1>
    </div>
    
    <div class="card mb-4">
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="criterio">Criterio:</label>
                    <select id="criterio" class="custom-select" style="margin-left: 15%">
                        <option value="_dni">DNI</option>
                        <option value="_nombre">Nombre</option>
                        <option value="_apellido">Apellido</option>
                        <option value="_idCuenta">Id Cuenta</option>
                    </select>
                </div>
                <div class="col-md-4 d-flex align-items-end">
                    <div class="custom-control custom-checkbox" style="margin-left: 15%">
                        <input type="checkbox" class="custom-control-input" id="tipo">
                        <label class="custom-control-label" for="tipo">DESCENDENTE</label>
                    </div>
                    <button class="btn btn-info ml-3" id="link">ORDENAR</button>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4" >
                    <label for="valor">Texto:</label>
                    <input type="text" id="valor" class="form-control" placeholder="Ingrese el valor a buscar" style="margin-left: 15%">
                </div>
                <div class="col-md-4 align-self-end">
                    <button class="btn btn-info ml-3" id="busca">BUSCAR</button>    
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4 align-self-end">
                    <a class="btn btn-info ml-3" href="/home/personas/agregar/{{idPersona}}/{{docente}}/{{admin}}">CREAR PERSONA</a>    
                </div>
            </div>
        </div>
    </div>
<br>
<br>
<div class="row">
    <div class="col-12">
        <table id="tabla" class="table table-striped table-bordered text-center bg-white">
            <thead class="thead-dark">
                <tr>
                    <th>Nro</th>
                    <th>Dni</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Teléfono</th>
                    <th>Modificar</th>
                    <th>Rol</th>
                </tr>
            </thead>
            <tbody>
                {% for item in lista %}
                    <tr>
                        <td>{{ item.id}}</td>
                        <td>{{ item.dni }}</td>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.apellido }}</td>
                        <td>{{ item.fechaNacimiento }}</td>
                        <td>{{ item.numTelefono }}</td>
                        <td><a href="/docentes/editar/{{ item.id }}" class="btn btn-primary btn-sm">Modificar</a></td>
                        <td><a href="/home/personas/addRol/{{idPersona}}/{{docente}}/{{admin}}/{{ item.id }}" class="btn btn-primary btn-danger">AGREGAR ROL</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
