
{% extends 'index.html' %}



{% block content %}
<script>
     $(document).ready(function(){
        $("#link").click(function(){
            create();
        });

    });

</script>
{%block barra%}
<!-- Page Navbar -->
<nav id="scrollspy" class="navbar page-navbar navbar-expand-md navbar-brand fixed-top" data-spy="affix" data-offset-top="20">
    <div class="container">
        <a class="navbar-brand" href="#"><strong class="text-primary">Seguimiento</strong> <span class="text-dark">Estudiantil</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {% if docente == "docente" %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="#" id="adminMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Docente
                    </a>
                    <div class="dropdown-menu" aria-labelledby="adminMenu">
                        <a class="nav-link text-dark" href="/home/docenteMaterias/{{idPersona}}/{{docente}}/{{admin}}">Materias</a>
                    </div>
                </li>
                {% endif %}
                {% if admin == "admin" %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="#" id="adminMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="adminMenu">
                        <a class="dropdown-item" href="/home/ciclos/{{idPersona}}/{{docente}}/{{admin}}">Ciclos</a>
                        <a class="dropdown-item" href="/home/mallas/{{idPersona}}/{{docente}}/{{admin}}">Mallas</a>
                        <a class="dropdown-item" href="/home/periodos/{{idPersona}}/{{docente}}/{{admin}}">Periodos Académicos</a>
                        <a class="dropdown-item" href="/home/listamaterias/{{idPersona}}/{{docente}}/{{admin}}">Materias</a>
                        <a class="dropdown-item" href="/home/cursas/{{idPersona}}/{{docente}}/{{admin}}">Cursas</a>
                        <a class="dropdown-item" href="/home/asignaciones/{{idPersona}}/{{docente}}/{{admin}}">Asignaciones</a>
                        <a class="dropdown-item" href="/home/unidades/{{idPersona}}/{{docente}}/{{admin}}">Unidades</a>
                        <a class="dropdown-item" href="/home/rol/{{idPersona}}/{{docente}}/{{admin}}">Roles</a>
                        <a class="dropdown-item" href="/home/docentes/{{idPersona}}/{{docente}}/{{admin}}">Docentes</a>
                        <a class="dropdown-item" href="/home/estudiantes/{{idPersona}}/{{docente}}/{{admin}}">Estudiantes</a>
                        <a class="dropdown-item" href="/home/personas/ver/{{idPersona}}/{{docente}}/{{admin}}">Personas</a>
                        <a class="dropdown-item" href="/home/cuentas/ver/{{idPersona}}/{{docente}}/{{admin}}">Cuentas</a>
                    </div>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/home/{{idPersona}}/{{docente}}/{{admin}}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/">Salir</a>
                </li>
            </ul>
        </div>
    </div>
</nav><!-- End of Page Navbar -->   
{%endblock%}

 <!-- Testmonial Section -->
 <h3 class="mt-3 mb-5 pb-5 text-white mx-auto" style="margin-top: 20px; margin-left: 50px;"></h3>
 <section class="text-center pt-5" id="testmonial" style="background: fixed;">
    <!-- Container -->
    <div >
        <!-- Row -->
        <div class="row">
            {% for materia in lista %}
            <div class="col-sm-10 col-md-4 m-auto">
                <div class="testmonial-wrapper">
                    <img src="{{ url_for('static', filename='imgs/estudio.jpg') }}" alt="Client Image">
                    <a href="/home/materias/estudiantes/{{ materia.id }}/{{idPersona}}/{{docente}}/{{admin}}" class="btn btn-primary" style="margin: auto">{{ materia.nombre }}</a>
                </div>
            </div>
            {% endfor %}
        </div><!-- end of Row -->           
    </div><!-- End of Cotanier -->  
</section><!-- End of Testmonial Section -->

{% endblock %}
